.projects-main-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.projects-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70%;
    width: 60%;
    overflow-y: scroll;
    margin: 0 auto;
}


@media screen and (max-width: 1130px) {  
    .projects-main-div {
        flex-direction: column;
        height: 100%;
    }
    .projects-div {
        flex-direction: column;
    }
}


@media screen and (max-width: 730px) {  
    .projects-main-div{
        height: 100%;
        flex-direction: column;
    }
    .projects-div {
        flex-direction: column;
            overflow-y: hidden;
    }
}