.about-me-header {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 100%;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    border: none;
    transition: 1s;
}

.about-me-header-active{
    width: 20%;
    transition: 1.5s;
}

.arrow-div {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #081f2a;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    border: none;
}

.fa-arrow-alt-circle-right {
    margin:0 auto;
    width: 100%;
    color:rgba(255, 248, 248, 0.555);
    align-self: center;
    font-size: 100px;
}

@media screen and (max-width: 1130px) {  
    .about-me-header {
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    .about-me-header-active{
        height: 60%;
        width: 100%;
        transition: 1.5s;
    }
    .fa-arrow-alt-circle-right {
        transform: rotate(90deg);
        font-size: 80px;
    }
    .arrow-div  {
        height: 10%;
        flex-direction: column;
    }
}
@media screen and (max-width: 730px) {  
    .about-me-header {
        display: block;
        flex-direction: column;
        width: 100%;
        height: 20%;
    }
    .about-me-header-active{
        display: block;
        height: 30;
        width: 100%;
        transition: 1.5s;
    }
    
}
