.project-info-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.project-info-div:hover {
    border: 1px dotted rgba(245, 245, 245, 0.335);
    background-color: rgba(51, 38, 47, 0.568);
}

.project-info-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 5px auto;
}

.project-info-p {
    font-size: 18px;
    text-align: left;
    padding: 20px;
    width: 100%;
    letter-spacing: 2px;
    /* text-align: center; */

}


.project-info-content {
    height: 80%;
    width: 80%;
}

.extra-info-p {
    border-top: 1px dotted rgba(245, 245, 245, 0.335);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {  
    .project-info-div{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {  
    .project-info-div{
        width: 100%;
    }
}